@using SiteCoreDemo.Areas.Admin.Models;
@model ChangePassword
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Admin_Layout.cshtml";
}



<section id="content">
    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                @using (@Html.BeginForm("ChangePassword", "Home", FormMethod.Post, new { @class = "register-form" }))
                {
                    <h2>Change Password</h2>
                    <hr class="colorgraph">
                    @Html.ValidationSummary()
                    <div class="form-group">

                        @Html.TextBoxFor(i => i.OldPassword, new { @class = "form-control input-lg", @placeholder = "Old Password", @tabindex = "3" })

                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(i => i.NewPassword, new { @class = "form-control input-lg", @placeholder = "New Password", @tabindex = "4" })
                    </div>

                    <div class="form-group">
                        @Html.PasswordFor(i => i.ConfirmPassword, new { @class = "form-control input-lg", @placeholder = "Confirm Password", @tabindex = "4" })
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <input type="submit" value="Change Password" class="btn btn-theme btn-block btn-lg" tabindex="7">
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
</section>
